<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Database Management</title>
    <!-- style css -->
    <link rel="stylesheet" href="../assets/about.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="../assets//responsive.css">

    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body style="background-color:lightblue;" class="main-layout inner_header about_page">

    <%- include('./public/Navbar.ejs') %>

        <div class="yellow_darkbg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titlepage">
                            <h2>Software Details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="team">
            <div class="container">
             

                            <pre>
                                MNY E-Commerce & Safety Solutions Private Limited is a Bengaluru based company provided 
                                the Documents Digitalization, Indexing, Documents Searching, Printing, Downloading Services 
                                with an advanced documents management software (DMS) to the Mandya DC Office, Registered 
                                address - Park Road 2, PES College Campus, Near District Court, Mandya, Karnataka - 571401.
                                In this office we scanned different-different size and quality of papers (like  A0, A3, A4, A5, 
                                Legal etc.) in color format with clearly visible and readable. In this scanning project following 
                                Talukas, Hobli and Village documents are covered: -
                                
                                <b>TALUK</b> 

                                1.	MALAVALLI, 
                                2.	NAGAMANGALA, 
                                3.	MANDYA, 
                                4.	MADDUR, 
                                5.	PANDAVAPURA, 
                                6.	KRPETE, 
                                7.	SRIRANGAPATANA

                                <b>SEPARATE HOBLI-</b> 

                                1.	RAVANI, 
                                2.	HEMAVATHI BASARALU, 
                                3.	HEMAVATHI DUDDA, 
                                4.	HEMAVATHI PANDAVAPURA, 
                                5.	MELUKOTE PANDAVAPURA, 
                                6.	CHINAKURALI PANDAVAPURA, 
                                7.	BOOKANAKERE KRPETE, 
                                8.	KASABA KRPETE, 
                                9.	SHEELANERE KRPETE, 
                                10.	KASABA NAGAMANGALA, 
                                11.	BELLURU NAGAMANGALA, 
                                12.	DEVALAPURA NAGAMANGALA, 
                                13.	HONAKERE NAGAMANGALA, 
                                14.	KIKKERI KRPETE, 
                                15.	AKKIHEBBALU KRPETE, 
                                16.	BINDIGANAVILE NAGAMANGALA, 
                                17.	SANTEBACHAHALLI KRPETE
                                
                                <b>Documents</b>

                                In this software total 24 folders (7 Taluk + 17 Hobli), 534 Sub-folders, 8,537 files, 
                                19,88,318 total pages are comprised in the name of above Taluks and Hobli. 
                                
                                
                                <b>Searching Option/Search Engine</b>

                                In this software the users can easily search the required file with the help of any one
                                 of the 7 following searching options: -
                                1.	File Name,
                                2.	Year,
                                3.	File Code,
                                4.	Taluk,
                                5.	 Hobli,
                                6.	Village,
                                7.	Survey Number.

                                <b>Languages Covered of the Software</b>

                                In this software total 123 language are incorporated along with searching options. 
                                This software is easy to use, easy to search the files, easy to understand and all 
                                security/user control are available so that only authorized person can access the data/files.
                                 </pre>
                            <!-- <a class="read_more" href="#"> Read More</a> -->
                      
                    
                
            </div>
        </div>
        <!-- team -->

        <!--  footer -->
        <footer>
            <div class="footer">
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <p>© 2021 All Rights Reserved. Developed by SNR</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
</body>

</html>