<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Data Management</title>
   <!-- bootstrap css -->
   <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" href="../assets/welcome.css">
</head>
<!-- body -->

<body class="main-layout" style="background-color:lightblue;">
   <!-- loader  -->
   <%- include('./public/Navbar.ejs') %>

     <img src="../assets/img1.jpg"  width="100%">
     <img src="../assets/img2.jpg"  width="100%">
     <img src="../assets/img3.jpg"  width="100%">
<img src="../assets/img4.jpg"  width="100%">
</body>

</html>